<a href="https://colab.research.google.com/github/pawel-kowal/machine-learning/blob/main/supervised/01_basics/03_fearute_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import sklearn

In [ ]:
def fetch_financial_data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

              Open      High     Low   Close    Volume
Date
2023-04-19  101.58  105.1200  101.39  104.30  58398890
2023-04-18  103.95  104.2000  101.52  102.30  39790518
2023-04-17  103.16  103.7300  101.59  102.74  39919457
2023-04-14  102.07  103.2013  101.11  102.51  51450522
2023-04-13   98.95  102.5700   98.71  102.40  67925138

In [ ]:
df = df_raw.copy()
df = df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2023-04-19 to 2023-04-13
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

In [ ]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

              Open      High     Low   Close    Volume  day  month  year
Date
2023-04-19  101.58  105.1200  101.39  104.30  58398890   19      4  2023
2023-04-18  103.95  104.2000  101.52  102.30  39790518   18      4  2023
2023-04-17  103.16  103.7300  101.59  102.74  39919457   17      4  2023
2023-04-14  102.07  103.2013  101.11  102.51  51450522   14      4  2023
2023-04-13   98.95  102.5700   98.71  102.40  67925138   13      4  2023

###Dyskretyzacja zmiennej ciągłej

In [ ]:
df = pd.DataFrame(data={'height':[175.,178.5,185.,184.5,191.,183.,168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   184.5
4   191.0
5   183.0
6   168.0

In [ ]:
df['height_cat'] = pd.cut(x=df.height,bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   184.5    (183.333, 191.0]
4   191.0    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [ ]:
df['height_cat'] = pd.cut(x=df.height,bins=(160,175,180,195))
df

   height  height_cat
0   175.0  (160, 175]
1   178.5  (175, 180]
2   185.0  (180, 195]
3   184.5  (180, 195]
4   191.0  (180, 195]
5   183.0  (180, 195]
6   168.0  (160, 175]

In [ ]:
df['height_cat'] = pd.cut(x=df.height, bins=(160,175,180,195), labels=['small', 'medium', 'high'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   184.5       high
4   191.0       high
5   183.0       high
6   168.0      small

In [ ]:
pd.get_dummies(df, drop_first=True, prefix='height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   184.5              0            1
4   191.0              0            1
5   183.0              0            1
6   168.0              0            0

###Ekstrakcja cech

In [ ]:
df=pd.DataFrame(data={'lang':[['PL','ENG'],['GER','ENG','PL','FRA'],['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [ ]:
df['lang_number'] = df['lang'].apply(len)
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [ ]:
df['PL_flag'] = df['lang'].apply(lambda x:1 if 'PL' in x else 0)
df

                  lang  lang_number  PL_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0