<a href="https://colab.research.google.com/github/pawel-kowal/machine-learning/blob/main/supervised/01_basics/03_fearute_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
def fetch_financial_data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

              Open    High     Low   Close    Volume
Date
2023-04-21  106.10  108.15  105.08  106.96  86774185
2023-04-20  103.53  105.25  103.21  103.81  57696866
2023-04-19  101.58  105.12  101.39  104.30  58398890
2023-04-18  103.95  104.20  101.52  102.30  39790518
2023-04-17  103.16  103.73  101.59  102.74  39919457

In [3]:
df = df_raw.copy()
df = df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2023-04-21 to 2023-04-17
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

In [4]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

              Open    High     Low   Close    Volume  day  month  year
Date
2023-04-21  106.10  108.15  105.08  106.96  86774185   21      4  2023
2023-04-20  103.53  105.25  103.21  103.81  57696866   20      4  2023
2023-04-19  101.58  105.12  101.39  104.30  58398890   19      4  2023
2023-04-18  103.95  104.20  101.52  102.30  39790518   18      4  2023
2023-04-17  103.16  103.73  101.59  102.74  39919457   17      4  2023

###Dyskretyzacja zmiennej ciągłej

In [5]:
df = pd.DataFrame(data={'height':[175.,178.5,185.,184.5,191.,183.,168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   184.5
4   191.0
5   183.0
6   168.0

In [6]:
df['height_cat'] = pd.cut(x=df.height,bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   184.5    (183.333, 191.0]
4   191.0    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [7]:
df['height_cat'] = pd.cut(x=df.height,bins=(160,175,180,195))
df

   height  height_cat
0   175.0  (160, 175]
1   178.5  (175, 180]
2   185.0  (180, 195]
3   184.5  (180, 195]
4   191.0  (180, 195]
5   183.0  (180, 195]
6   168.0  (160, 175]

In [8]:
df['height_cat'] = pd.cut(x=df.height, bins=(160,175,180,195), labels=['small', 'medium', 'high'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   184.5       high
4   191.0       high
5   183.0       high
6   168.0      small

In [9]:
pd.get_dummies(df, drop_first=True, prefix='height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   184.5              0            1
4   191.0              0            1
5   183.0              0            1
6   168.0              0            0

###Ekstrakcja cech

In [10]:
df=pd.DataFrame(data={'lang':[['PL','ENG'],['GER','ENG','PL','FRA'],['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [11]:
df['lang_number'] = df['lang'].apply(len)
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [12]:
df['PL_flag'] = df['lang'].apply(lambda x:1 if 'PL' in x else 0)
df

                  lang  lang_number  PL_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [14]:
df = pd.DataFrame(data={'website':['wp.pl', 'onet.pl', 'google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

In [15]:
df.website.str.split('.',expand=True)

        0    1
0      wp   pl
1    onet   pl
2  google  com

In [17]:
new = df.website.str.split('.',expand=True)
df['portal'] = new[0]
df['extenstion'] = new[1]
df

      website  portal extenstion
0       wp.pl      wp         pl
1     onet.pl    onet         pl
2  google.com  google        com